@charset 'UTF-8';

/// 1. Vendors
@import '../bower_components/Normy/normy-core';
//@import 'vendor/susy';

/// 2. Configuration and helpers
@import 'abstracts/variables';
@import 'abstracts/functions';
@import 'abstracts/mixins';

/// 3. Base stuff
@import 'base/fonts';
@import 'base/typography';
@import 'base/helpers';
@import 'base/base';

/// 4. Atoms - basic webpage elements
/// @link http://bradfrost.com/blog/post/atomic-web-design/
@import 'atoms/buttons';

/// 5. Components

/// 6. Layout-related sections
@import 'layout/header';
@import 'layout/footer';

/// 7. Page-specific styles
@import 'pages/home';

/// 8. Vendor overrides (CSS for plugins etc.)
@import 'vendor-override/default';

/// 9. Shame file for ugly CSS breaking rules or in need of refactoring
/// @link http://csswizardry.com/2013/04/shame-css/
// @import shame.scss
