////
/// Color variables
////

/// Basic color pallete
/// @type Color
$color-text        : #574841;
$color-dark-brown  : #382f2a;

/// component color variables
/// @type Color
$bg-light           : $color-light-brown;
