    ////
/// This file contains general utility variables
////

/// Grid settings
$layout: (
  width: 1160px,
  layouts: 12,
  gutter: 24px
);

/// Asset path
/// Basic path to assets, used for asset function
/// @type String
/// @see {function} asset
$asset-url: '../';

/// Z-index map
/// @prop {String} keys - Keys are identifiers mapped to a given z-index
/// @prop {Number} values - Values are actual values of z-index
/// @see {function} z
$z-indexes: (
    'below': -1,
    'zero': 0,
    'base': 1,
    'above': 10,
    'front': 20,
    'tooltip': 30,
    'dropdown': 40,
    'overlay': 50,
    'modal': 60,
);

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  xs: 360px,   //small
  sm: 768px,   //tablet
  md: 1024px,  //laptop
  lg: 1400px,  // desktop
  xl: 1920px,  // x-large monitors
);
