////
/// Typography related variables
////

/// Enigma settings
$enigma: (
  'root': 16px,
  'base': 16px,
  'alfa': 1.5,
  'beta': 1.125,
  'line-color': #15ADE6,
  'line-shift': -8px
);

/// Font families
/// @type List
$serif-font-stack: ('Playfair Display', 'Garamond', 'Times New Roman', serif) !default;
$sans-font-stack: ('PT Sans', 'Arial', sans-serif) !default;

/// root text size
/// equals 1rem, set in % for better scaling and responsivity
//$root-text-size: 100%;  // 16px
$root-text-size: 100%;  // 20px
