////
/// Buttons
////
.button {
  position: relative;
  display: inline-flex;
  padding: enigmaLeading(0.25) phi-margin(1);
  font-family: $sans-font-stack;
  align-items: center;
  justify-content: center;
  border: 1px solid currentcolor;
  background: transparent;
  outline: 0px solid $button-basic-color;
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out, outline 0.05s ease-in-out 0.1s;


  &:focus,
  &:hover {
    text-decoration: none;
    color: $color-light-brown;
    background-color: $button-basic-color;
    outline: 5px solid $button-basic-color;
  }

  &:active {
    background-color: darken($button-basic-color, 10%);
    outline-color: darken($button-basic-color, 10%);
  }
}

.button--cta {
  color: $button-cta-color;

  &:focus,
  &:hover {
    color: $color-light-brown;
    background-color: $button-cta-color;
    outline-color: $button-cta-color;
  }

  &:active {
    background-color: darken($button-cta-color, 10%);
    outline-color: darken($button-cta-color, 10%);
  }
}

.button--large {
  width: 100%;
  padding: enigmaLeading(0.5) enigmaLeading(2);

  @include media('>grid-small') {
    width: auto;
  }
}