.link {
  position: relative;
  display: inline-block;
  font-family: $sans-font-stack;
  color: currentcolor;
  text-decoration: none;
  perspective: 250px;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: calc( 100% + 6px );
    margin: 0 -3px;
    background-color: currentcolor;
    opacity: 0;
    transform-style: preserve-3d;
    transform: rotate3d(1, 0, 0, 90deg);
    transform-origin: bottom center;
    transition: transform 0.15s ease-in-out, opacity 0s linear 0.15s;
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: calc( 100% + 6px );
    margin: 0 -3px;
    border-bottom: 1px solid currentcolor;

  }

  &:focus {
    outline: 0;
  }

  @include on-event {
    text-decoration: none;

    &:before {
      opacity: 0.2;
      transform: rotate3d(1, 0, 0, 0);
      transition: transform 0.15s ease-in-out, opacity 0s linear;
    }
  }
}