.menu {
  display: flex;
  flex-direction: column;
}

.menu__item {
  @include enigma(1 with 0 0);
  position: relative;
  padding: enigmaLeading(0.5) 0;
  font-family: $sans-font-stack;
  text-align: center;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 3rem;
    margin: 0 auto;
    opacity: 0;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    transition: width 0.25s ease-out, border 0.25s ease-out, opacity 0.25s ease-in;
  }
}

.menu__item:focus,
.menu__item:hover {
  text-decoration: none;

  &:before {
    width: 8rem;
    opacity: 1;
    border-top: 1px solid currentcolor;
    border-bottom: 1px solid currentcolor;
  }
}

.menu__item:focus {
  outline: 0;
}