/// Breakpoint in px are used only for svg logo responsivnes in this file
/// and in av-logo.svg

.title {
  margin-top: enigmaLeading(1);
  margin-bottom: enigmaLeading(1);
  text-align: center;

  @include media('>560px') {
    margin-top: 25vw;
  }

  @include media('>grid-xs') {
    width: phi-margin(5);
    margin-right: auto;
    margin-left: auto;
  }

  @include media('>grid-medium') {
    width: 24rem;
    margin-top: enigmaLeading(6);
    margin-bottom: enigmaLeading(2);
    margin-left: 0;
  }

  @include media('>grid-large-xl') {
    margin-left: enigmaLeading(3);
  }
}

.title__heading {
  margin-top: 0;
  margin-bottom: 0;

  @include media('>380px', '<=560px') {
    width: enigmaLeading(10);
    margin-right: auto;
    margin-left: auto;
  }
}

.title__separator {
  display: none;

  @include media('>grid-xs') {
    display: block;
  }
}

.title__caption {
  display: none;

  @include media('>grid-xs') {
    @include enigma(1 'alfa' with 0 0.5);
    display: block;
    font-style: italic;
  }
}