//// This file contains all application-wide Sass variables.

/// Regular font family
/// @type List
$text-font-stack: ('Ubuntu', 'Arial', sans-serif) !default;

/// Layout specific variables
/// Susy settings, useless without Susy frameworks
/// @link http://susydocs.oddbird.net/en/latest/settings/
$susy: (
  'container': 1200px,
  'columns': 16,
  'gutters': .25,
  'gutter-position': 'before',
  'global-box-sizing': 'border-box'
);

/// Colors
/// @type Color
$color-text       : #FFFFFF !default;
$input-text-color : #1f2547 !default;
$brand-navy       : #003781 !default;
$brand-blue       : #0077c8 !default;
$color-error      : #d55550 !default;

/// Font sizes
$text-small: (14 / 16) * 1rem;
$text-base: (16 / 16) * 1rem;
$text-lead: (18 / 16) * 1rem;
$text-notify: (24 / 16) * 1rem;

/// Line height
$lh: 1.5;

/// Z-index map
/// @prop {String} keys - Keys are identifiers mapped to a given z-index
/// @prop {Number} values - Values are actual values of z-index
/// @see {function} z
$z-indexes: (
    'below': -1,
    'zero': 0,
    'base': 1,
    'above': 2,
    'front': 5,
    'tooltip': 20,
    'dropdown': 200,
    'overlay': 400,
    'modal': 500,
) !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
/// @see {mixin} respond-to
$breakpoints: (
  'small': (min-width: 320px),
  'medium': (min-width: 768px),
  'large': (min-width: 1024px),
) !default;
